<div class="reset">
  <div class="reset__container">
    <h1 class="reset__title">Відновлення доступу</h1>
    <form class="reset__form" [formGroup]="form">
      <mat-form-field>
        <mat-label> Email </mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
    </form>

    <div class="reset__btn-box">
      <button
        mat-raised-button
        color="primary"
        class="reset__btn-ok"
        (click)="reset()"
      >
        OK
      </button>
    </div>
  </div>
</div>
