.calendar {
  border: 1px solid #008e8a;
  padding: 20px;
  border-radius: 15px;
  height: 100%;
  &__title {
    color: white;
    font-size: 19px;
  }
  &__link {
    display: block;
    color: #008e8a;
    text-decoration: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  &__box {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
  }
  &__events {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    margin-top: 30px;
  }
  &__empty {
    margin: 88px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.458);
  }
}
