.modal {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: 390px;
  &::-webkit-scrollbar {
    display: none;
  }
  &__title {
    text-align: center;
    color: white;
    margin-bottom: 30px;
  }
  &__subtitle {
    color: rgba(255, 255, 255, 0.458);
    font-size: 15px;
    margin-top: 15px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__text {
    margin-top: 4px;
    color: white;

    word-wrap: break-word;
  }
  &__preview {
    display: block;
    margin-top: 10px;
    width: 100%;
    height: auto;
  }
  &__btn {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent !important;
    color: #008e8a !important;
    border: 1.5px solid #008e8a;
    padding: 10px 35px;
    height: 45px !important;
    width: 100%;
    &-box {
      display: flex;
      justify-content: space-around;
      margin-top: 15px;
    }
    &-cancel {
      width: 130px;
      background-color: #008e8a !important;
      color: white;
    }
    &-ok {
      background-color: transparent !important;
      color: #008e8a !important;
      border: 1.5px solid #008e8a;
      width: 130px;
    }
  }
}
::ng-deep .mdc-dialog .mdc-dialog__surface {
  min-width: 300px !important;
  border-radius: 10px;
}

::ng-deep .mdc-dialog__surface {
  padding: 5px 0 !important;
}
::ng-deep .mdc-dialog .mdc-dialog__content {
  padding: 20px 20px;
}
@media (min-width: 768px) {
  .modal {
    max-height: 360px;
    &__btn {
      &-box {
        padding-bottom: 20px;
      }
    }
  }
  ::ng-deep .mdc-dialog__container {
    width: 400px !important;
  }
  ::ng-deep .mdc-dialog__surface {
    padding: 30px 40px;
  }
  ::ng-deep .mdc-dialog .mdc-dialog__content {
    padding: 20px 24px 20px 24px;
  }
}
textarea {
  &::-webkit-scrollbar {
    display: none;
  }
}
::ng-deep .mat-mdc-raised-button:not(.mdc-ripple-upgraded):focus {
  box-shadow: none;
}
::ng-deep .mat-mdc-dialog-container .mdc-dialog__content {
  color: white !important;
}
::ng-deep .mdc-dialog__surface {
  padding: 30px 40px;
}
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: #131212;
}
::ng-deep .mat-mdc-form-field {
  display: flex !important;
}
::ng-deep .mdc-text-field--filled {
  background-color: transparent !important;
}
::ng-deep .mdc-line-ripple::before {
  border-bottom-color: rgba(49, 114, 49, 0.659) !important;
}
::ng-deep .mdc-line-ripple::after {
  border-bottom-color: rgba(49, 114, 49, 0.659) !important;
}
::ng-deep .mdc-text-field__input {
  color: white !important;
  font-size: 16px !important;
}

::ng-deep
  .mdc-floating-label--required:not(
    .mdc-floating-label--hide-required-marker
  )::after {
  content: "" !important;
}
::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgba(255, 255, 255, 0.458);
}
::ng-deep
  .mdc-text-field--invalid:not(.mdc-text-field--disabled)
  .mdc-floating-label {
  color: #f44336;
}
