<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a routerLink="home" routerLinkActive="nav__link_active" class="nav__link"
        ><div class="nav__link__circle">
          <svg
            class="nav__link__img"
            height="35px"
            width="35px"
            viewBox="0 96 960 960"
          >
            <use href="assets/sprite.svg#icon-home"></use>
          </svg></div
      ></a>
    </li>
    <li class="nav__item">
      <a
        routerLink="calendar"
        routerLinkActive="nav__link_active"
        class="nav__link"
        ><div class="nav__link__circle">
          <svg
            class="nav__link__img"
            height="30px"
            width="30px"
            viewBox="0 96 960 960"
          >
            <use href="assets/sprite.svg#icon-calendar"></use>
          </svg></div
      ></a>
    </li>
    <li class="nav__item">
      <a
        routerLink="posts"
        routerLinkActive="nav__link_active"
        class="nav__link"
        ><div class="nav__link__circle">
          <svg
            class="nav__link__img"
            height="30px"
            width="30px"
            viewBox="0 96 960 960"
          >
            <use href="assets/sprite.svg#icon-posts"></use>
          </svg></div
      ></a>
    </li>
    <li class="nav__item">
      <a
        routerLink="exercise"
        routerLinkActive="nav__link_active"
        class="nav__link"
        ><div class="nav__link__circle">
          <svg
            class="nav__link__img"
            height="30px"
            width="30px"
            viewBox="0 96 960 960"
          >
            <use href="assets/sprite.svg#icon-exercise"></use>
          </svg></div
      ></a>
    </li>
    <li class="nav__item">
      <a routerLink="user" routerLinkActive="nav__link_active" class="nav__link"
        ><div class="nav__link__circle">
          <svg
            class="nav__link__img"
            height="30px"
            width="30px"
            viewBox="0 96 960 960"
          >
            <use href="assets/sprite.svg#icon-settings"></use>
          </svg></div
      ></a>
    </li>
  </ul>
</nav>
