<h1 class="modal__title" mat-dialog-title>Детальніше</h1>
<div class="modal" mat-dialog-content>
  <h3 class="modal__subtitle">Подія:</h3>
  <div class="modal__text">{{ this.data.event[1].event }}</div>
  <h3 class="modal__subtitle">Час:</h3>
  <div class="modal__text">
    {{ this.data.event[0] }} - {{ this.data.event[1].to }}
  </div>
  <h3 class="modal__subtitle">Стан:</h3>
  <div class="modal__text">
    {{ this.data.event[1].done ? "Виконано" : "Не виконано" }}
  </div>
</div>
<div class="modal__btn-box" mat-dialog-actions>
  <button class="modal__btn-ok" color="primary" mat-button (click)="close()">
    OK
  </button>
</div>
