.events {
  padding: 0 10px;
  &__title {
    color: white;
    letter-spacing: 0.8px;
    font-weight: 500;
    font-size: 28px;
  }
  &__container {
    padding-bottom: 25px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    height: calc(100vh - 86px - 28px - 25px - 50px);
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@media (min-width: 768px) {
  .events {
    padding: 0 20px;
    &__container {
      grid-template-columns: 1.5fr 2fr;
      height: auto;
    }
  }
}
@media (min-width: 1024px) {
  .events {
    &__container {
      grid-template-columns: 1fr 2fr;
    }
  }
}
@media (min-width: 1440px) {
  .events {
    padding: 0 70px 20px 40px;
    &__container {
      grid-template-columns: 1fr 3fr;
    }
  }
}
