.calendar {
  z-index: 10;
  position: relative;
  width: 100%;
}
::ng-deep .owl-dt-inline-container .owl-dt-calendar {
  height: auto;
}
::ng-deep .owl-dt-inline-container,
.owl-dt-popup-container {
  width: auto;
}
::ng-deep .owl-dt-container {
  background-color: transparent;
}
::ng-deep .owl-dt-calendar-table .owl-dt-calendar-cell-content {
  color: white;
}
::ng-deep .owl-dt-inline-container {
  box-shadow: none;
}
::ng-deep .owl-dt-calendar-cell-selected {
  background-color: rgba(49, 114, 49, 0.659) !important;
}
::ng-deep .owl-dt-weekday {
  color: white;
}
::ng-deep .owl-dt-control-button-content {
  color: white;
}
::ng-deep .owl-dt-control-button-arrow {
  fill: white;
}
::ng-deep .owl-dt-calendar-control {
  padding: 0;
  padding-bottom: 20px;
  justify-content: center;
  gap: 10px;
}
::ng-deep .owl-dt-calendar-control .owl-dt-calendar-control-content {
  flex: none;
}
::ng-deep
  .owl-dt-calendar-table
  .owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected) {
  border-color: rgba(49, 114, 49, 0.659);
}
::ng-deep .owl-dt-calendar-header {
  color: white !important;
}
::ng-deep
  .owl-dt-calendar-table
  .owl-dt-calendar-header
  .owl-dt-calendar-table-divider:after {
  content: none;
}
