<div class="login">
  <div class="login__container">
    <h1 class="login__title">Увійти в аккаунт</h1>
    <form class="login__form" [formGroup]="form">
      <mat-form-field>
        <mat-label> Email </mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label> Пароль </mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
    </form>

    <div class="login__btn-box">
      <a
        matRipple
        [matRippleColor]="'rgba(255, 255, 255, 0.1)'"
        class="login__btn-forgot"
        routerLink="/reset"
      >
        Забули пароль?
      </a>
      <button
        mat-raised-button
        color="primary"
        class="login__btn-ok"
        (click)="login()"
      >
        OK
      </button>
    </div>
    <div class="login__container_link">
      Не маєте аккаунту
      <a routerLink="/registration" class="login__link">Зареєструватися</a>
    </div>
  </div>
</div>
