.graph_main {
  padding: 25px 10px;
  padding-bottom: 0px;
  padding-right: 0;
  background-color: #131517;
  border-radius: 15px;
  height: 100%;
  &__text {
    margin-bottom: -35px;
    color: white;
    padding-left: 12px;
    font-size: 22px;
    font-weight: 500;
  }
  &__view {
    width: 99%;
  }
}
.graph_user {
  padding-bottom: 0px;
  background-color: transparent;
  margin-top: 20px;
  &__text {
    margin-bottom: -20px;
    color: white;
    font-size: 22px;
    font-weight: 500;
  }
  &__view {
    position: relative !important;
    left: 0px !important;
    width: 99%;
  }
}
@media (min-width: 768px) {
  .graph_main {
    padding: 25px 30px;
  }
  .graph_user {
    &__view {
      left: -53px !important;
    }
  }
}
