.header {
  color: white;
  padding: 20px 70px;

  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    line-height: 23px;
    font-size: 18px;
    letter-spacing: 0.8px;
    font-weight: 500;
  }
  &__search {
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid green;
    color: white;
    padding: 10px 10px;
    font-size: 16px;
  }
  &__box {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__date {
    color: rgba(255, 255, 255, 0.637);
  }
  &__user {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    text-decoration: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: -10px;
    &_name {
      font-size: 20px;
      font-weight: 500;
    }
    &_role {
      margin-top: 10px;
      text-align: end;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.458);
    }
    &_img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }
}
