<div class="header">
  <div class="header__container">
    <div class="header__logo">
      Sport <br />
      Time
    </div>
    <div class="header__box">
      <div class="header__date">{{ date }}</div>
      <a
        matRipple
        [matRippleColor]="'rgba(255, 255, 255, 0.197)'"
        routerLink="user"
        class="header__user"
      >
        <div class="header__user_box">
          <div class="header__user_name">{{ userName }}</div>
          <div class="header__user_role">
            {{ checkAdmin ? "admin" : "user" }}
          </div>
        </div>
        <img
          [src]="userImg"
          alt="avatar"
          class="header__user_img header__user_unknown"
        />
      </a>
    </div>
  </div>
</div>
