.news {
  padding: 25px;
  background-color: #131517;
  border-radius: 15px;
  height: 100%;
  &__title {
    font-size: 22px;
    font-weight: 500;
    color: white;
  }
  &__empty {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.458);
    padding: 40px 0;
  }
  &__list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
