<div class="reminder">
  <h3 class="reminder__title">Нагадування</h3>
  <div *ngIf="areNotReminders" class="reminder__not">
    Ваш браузер не підтримує нагадування
  </div>

  <!-- <div class="reminder__empty">Список нагадувань пустий</div> -->
  <div class="reminder__list">
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
  </div>
  <div class="reminder__btn-box">
    <button
      color="primary"
      *ngIf="!areNotReminders"
      class="reminder__btn"
      mat-raised-button
      (click)="checkNotifications()"
    >
      <span>+</span> Створити подію
    </button>
  </div>
</div>
