.reminder {
  background-color: #131517;
  border-radius: 15px;
  padding: 25px;
  height: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  // align-items: space-between;
  flex-direction: column;
  &__title {
    color: white;
    font-size: 22px;
    font-weight: 500;
  }
  &__empty {
    color: rgba(255, 255, 255, 0.458);
  }
  &__btn {
    background-color: transparent !important;
    color: #008e8a !important;
    border: 1.5px solid #008e8a;
    padding: 0 30px;
    height: 45px !important;
  }
}
