.modal {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  &::-webkit-scrollbar {
    display: none;
  }
  &__title {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    &__time {
      font-size: 18px;
    }
  }
  &__container {
    display: grid;
    grid-template-columns: 50% 50%;
    &_text {
      margin-top: 10px;
      margin-bottom: -20px;
    }
  }
  &__picker {
    width: 100%;
    ::ng-deep .owl-dt-inline-container {
      width: 100% !important;
    }
    ::ng-deep .owl-dt-timer {
      gap: 14.5px;
    }
    ::ng-deep .owl-dt-timer-divider {
      left: -7px;
      align-self: center;
      width: 0;
    }
  }

  &__btn {
    &-box {
      display: flex;
      justify-content: space-around;
      margin-top: 15px;
    }
    &-cancel {
      width: 130px;
      background-color: #008e8a !important;
      color: white;
    }
    &-ok {
      background-color: transparent !important;
      color: #008e8a !important;
      border: 1.5px solid #008e8a;
      width: 130px;
    }
  }
}
::ng-deep .mdc-dialog .mdc-dialog__surface {
  min-width: 300px !important;
  border-radius: 10px;
}

::ng-deep .mdc-dialog__surface {
  padding: 5px 0 !important;
}
::ng-deep .mdc-dialog .mdc-dialog__content {
  padding: 20px 20px;
}
@media (min-width: 768px) {
  .modal {
    &__btn {
      &-box {
        padding-bottom: 20px;
      }
    }
  }
  ::ng-deep .mdc-dialog__container {
    width: 400px !important;
  }
  ::ng-deep .mdc-dialog__surface {
    padding: 30px 40px;
  }
  ::ng-deep .mdc-dialog .mdc-dialog__content {
    padding: 20px 24px 20px 24px;
  }
}
textarea {
  &::-webkit-scrollbar {
    display: none;
  }
}
::ng-deep .owl-dt-timer-input {
  background-color: #111010 !important;
  color: white;
  font-size: 25px !important;
  border: none !important;
  border-radius: 4px !important;
}
::ng-deep .owl-dt-timer-box {
  width: 30%;
}
::ng-deep .mat-mdc-dialog-container .mdc-dialog__content {
  color: white !important;
}
::ng-deep .mdc-dialog__surface {
  padding: 30px 40px;
}
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: #131212;
}
::ng-deep .mat-mdc-form-field {
  display: flex !important;
}
::ng-deep .mdc-text-field--filled {
  background-color: transparent !important;
}
::ng-deep .mdc-line-ripple::before {
  border-bottom-color: rgba(49, 114, 49, 0.659) !important;
}
::ng-deep .mdc-line-ripple::after {
  border-bottom-color: rgba(49, 114, 49, 0.659) !important;
}
::ng-deep .mdc-text-field__input {
  color: white !important;
  font-size: 16px !important;
}

::ng-deep
  .mdc-floating-label--required:not(
    .mdc-floating-label--hide-required-marker
  )::after {
  content: "" !important;
}
::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgba(255, 255, 255, 0.458);
}
::ng-deep
  .mdc-text-field--invalid:not(.mdc-text-field--disabled)
  .mdc-floating-label {
  color: #f44336;
}
