.user {
  padding: 0 10px;
  &__title {
    color: white;
    letter-spacing: 0.8px;
    font-weight: 500;
    font-size: 28px;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px 20px;
    margin-top: 25px;
    padding-bottom: 10px;
    border-radius: 15px;
    background-color: #131517;
    height: calc(100vh - 86px - 28px - 25px - 50px);
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    &_left {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    &_flex {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    &_weight {
      &::ng-deep .mat-mdc-raised-button:not(.mdc-ripple-upgraded):focus {
        box-shadow: none;
      }
    }
    &_img {
      align-items: center;
      padding-bottom: 90px;
    }
  }
  &__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  &__text {
    font-size: 30px;
    color: white;
  }
  &__lable {
    color: rgba(255, 255, 255, 0.458);
    margin-bottom: 15px;
  }
  &__btn {
    margin-top: 50px;
    background-color: transparent !important;
    color: #008e8a !important;
    border: 1.5px solid #008e8a;
    padding: 0 35px;
    height: 45px !important;
    width: 100%;
    &_upd {
      background-color: transparent !important;
      box-shadow: unset;
      padding: 0 0;
    }
    &_logout {
      width: 100%;
      margin-top: 20px;
      height: 45px !important;
      background-color: #008e8a !important;
      color: white !important;
    }
  }
  &__edit {
    fill: white;
  }
}
@media (min-width: 768px) {
  .user {
    padding: 0 20px;
    &__container {
      padding: 40px;
      display: flex;
      flex-direction: column-reverse;
      height: calc(100vh - 105px - 25px);
    }
    &__box {
      &_img {
        padding-bottom: 30px;
      }
    }
    &__btn {
      margin: 0 auto;
      margin-top: 50px;
      width: 70%;
      &_logout {
        width: 70%;
      }
    }
  }
}
@media (min-width: 1024px) {
  .user {
    &__container {
      display: grid;
      grid-template-columns: 3fr 1fr;
      padding: 30px 60px;
      height: auto;
      &_left {
        display: flex;
        flex-direction: column;
        gap: 35px;
        height: 420px;
        overflow: auto;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    &__box {
      display: flex;
      flex-direction: column;
      &_flex {
        display: flex;
        gap: 10px;
        align-items: center;
      }
      &_weight {
        &::ng-deep .mat-mdc-raised-button:not(.mdc-ripple-upgraded):focus {
          box-shadow: none;
        }
      }
      &_img {
        align-items: center;
      }
    }
    &__img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
    &__text {
      font-size: 30px;
      color: white;
    }
    &__lable {
      color: rgba(255, 255, 255, 0.458);
      margin-bottom: 15px;
    }
    &__btn {
      width: 100%;
      &_logout {
        width: 100%;
      }
    }
  }
}
@media (min-width: 1440px) {
  .user {
    padding: 0 70px 25px 40px;
    &__container {
      padding: 40px 100px;
      &_left {
        display: flex;
        flex-direction: column;
        gap: 35px;
        height: 450px;
        overflow: auto;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
