@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./styles/reset.scss";
@import "./styles/base.scss";
@import "./styles/container.scss";
@import "./styles/font.scss";
@import "@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
body::-webkit-scrollbar {
  width: 5px;
  display: none;
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.94);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(113, 113, 118); /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #008e8a;
}
